@import "tailwindcss";
/* Hide scrollbar but keep scrolling */
.hide-scrollbar {
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* Edge / IE */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;                /* Chrome / Safari */
}
